<!-- Sidebar  -->

<nav id="sidebar">


  <div class="sidebar-header">
    <h3> Admin Panel</h3>
    <strong>AP</strong>
  </div>

  <ul class="list-unstyled components text-light">

    <li>
      <a href="/admin/dashboard" class="nav-link">
        <i class="fa fa-home"></i>
        Home
      </a>

    </li>
    <li>
      <a href="/admin/register-admin" class="nav-link">
        <i class="fa fa-user"></i>
        Register Admin
      </a>
    </li>
    <li>
      <a href="/admin/register-witness" class="nav-link">
        <i class="fa fa-user"></i>
        Register Witness
      </a>
    </li>
    <li>
      <a href="/admin/send-credentials" class="nav-link">
        <i class="fa fa-envelope"></i>
        Send Credentials
      </a>

    </li>

    <li>
      <a href="/admin/witness-list" class="nav-link">
        <i class="fa fa-trash"></i>
        Witness List
      </a>
    </li>

  </ul>

</nav>
<p class="text-right mr-4">
  <button type="button" id="sidebarCollapse" class="btn btn-info">
    <i class="fa fa-bars"></i>
    <!-- <span>Toggle Sidebar</span> -->
  </button>
</p>