<!-- Page Content  -->
<div id="content">
  <div class="jumbotron text-center">
    <h1 class="display-3 text-light">{{{title}}}</h1>
    <p class="lead text-light">Welcome Admin</p>
    <a href="../videoscreen" class="btn btn-dark btn-lg">Start Video Call</a>
  </div>

</div>