{{#if admin}}
<!--video area for admin and witness-->
<div id="videoPage" class="mastHead container">
  <div class="video-page-holder video-page-holder-horizontal row">
    <div class="left col">
      <div class="video-wrap">
        <div class="main-video">
          <div id="peerDiv" class="embed-responsive embed-responsive-16by9">

            <!-- <video id="mainVideoTag" class="embed-responsive-item" autoplay playsinline></video> -->
          </div>

        </div>
        <div class="small-video embed-responsive embed-responsive-16by9">
          <video id="smallVideoTag" class="embed-responsive-item" autoplay muted="mute"></video>
        </div>
      </div>

      <div class="col p-2">
        <button class="btn btn-primary" id="starter">
          Start Recording <i class="fa fa-play"></i>
        </button>
        <button class="btn btn-primary" id="stopper">
          Stop Recording <i class="fa fa-stop"></i>
        </button>
        <button class="btn btn-primary" id="downloader">
          download <i class="fa fa-download"></i>
        </button>
        <button class="btn btn-primary m-2" id="downloadtxt">
          download Text<i class="fa fa-download"></i>
        </button>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <textarea name="" id="outputTextArea" cols="100" rows="10"></textarea>
    </div>
  </div>
</div>

{{/if}}

{{#if witness}}
<!--video area for admin and witness-->
<div id="videoPage" class="mastHead container">
  <div class="video-page-holder video-page-holder-horizontal row">
    <div class="left col">
      <div class="video-wrap">
        <div class="main-video">
          <div id="peerDiv" class="embed-responsive embed-responsive-16by9">

            <!-- <video id="mainVideoTag" class="embed-responsive-item" autoplay playsinline></video> -->
          </div>

        </div>
        <div class="small-video embed-responsive embed-responsive-16by9">
          <video id="smallVideoTag" class="embed-responsive-item" autoplay muted="mute"></video>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

<!-- bundle.js for video call part -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/bundle.js" type="text/javascript"></script>
<script src="/js/adapter.js"></script>
<script src="/js/RecordRTC.js"></script>
<script src="/js/recordVideo.js"></script>