<!--video area for admin and witness-->
<div id="videoPage" class="mastHead container">
  <div class="video-page-holder video-page-holder-horizontal row">
    <div class="left col">
      <div class="video-wrap">
        <div class="main-video">
          <div id="peerDiv" class="embed-responsive embed-responsive-16by9">

            <!-- <video id="mainVideoTag" class="embed-responsive-item" autoplay playsinline></video> -->
          </div>

        </div>
        <div class="small-video embed-responsive embed-responsive-16by9">
          <video id="smallVideoTag" class="embed-responsive-item" autoplay muted="mute"></video>
        </div>
      </div>

      <!--  <div class="actions-holder">
        <button id="record" class="btn btn-warning p-2 m-2" type="button">Start Recording</button>

        <button id="download" class="btn btn-warning p-2 m-2" type="button">download</button>
      </div>-->
      <div class="text-danger">
        <span id="errorMsg"></span>
      </div>
    </div>
  </div>
</div>
<!-- bundle.js for video call part -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/bundle.js" type="text/javascript"></script>
<script src="/js/adapter.js"></script>
<script src="/js/RecordRTC.js"></script>
<script src="/js/courtRecord.js"></script>

<!-- <script src="public/js/recording.js" type="text/javascript"></script> -->