body {
  background-image: url("../img/courtRoom.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

/* jumbotron */
.jumbotron {
  background-color: #9e9e9eb8;
}

/*Video Page*/
.video-page-holder {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-top: 15px;
  margin-left: 15%;
}
.video-page-holder .video-wrap {
  width: 800px;
  height: 480px;
  position: relative;
}
.video-wrap video {
  width: 100%;
  height: 100%;
}
.video-page-holder .video-wrap .main-video,
.video-page-holder .video-wrap .small-video {
  position: absolute;
  background: #181818;
}
.video-page-holder .video-wrap .main-video {
  background: #000000;
}

.video-page-holder .video-wrap .main-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-page-holder .video-wrap .small-video {
  bottom: 0;
  right: 0;
  width: 200px;
  border: 1px solid #888;
}
.video-page-holder .actions-holder {
  padding: 10px;
}
.video-page-holder .actions-holder a {
  line-height: 50px;
  color: #fff;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 160px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .video-wrap {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .video-wrap {
    width: 100%;
  }
}
